/* Increase the body font size on small devices */

html {
/*  font-size: 100%; */
}

body {
  background:  url("../images/horizon800/index.html") no-repeat fixed center bottom, url("../images/starscape800/index.html") repeat-y fixed center center #000000;
  background-size: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 7px 0 0;
}

#page-wrapper {
    padding: 0 0.5em 1.5em;
}

/*
 * Logo
 */

#logo {
    max-width: 45%;
    margin-top: 1em;
  padding: 0 0 1em 2em;
}

/*
 * Site slogan (h2)
 */
#site-slogan {
    display: block;
    float: right;
    font-size: 28px; font-size: 2.8rem;
    margin: -11.75% 40px 0 0;
    text-align: right;
}

/* 
 * Main Navbar
 */
 
#menu-bar {
    margin: 0;
    padding: 0 0.65em 0;
}

#columns {
    padding: 1.75em;
}

/*
 * Frontpage Call-to-Action buttons
 */

.button-cta h4 {
  font-size: 0.9em;
}


/* FOOTER */

#footer {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
}

#block-menu-menu-footer-menu, #block-menu-menu-footer-menu-2, #block-menu-menu-footer-menu-3, #block-menu-menu-footer-menu-4 {
  float: left;
    font-size: 1.6rem;
    margin-bottom: 0;
    margin-right: 10%;
    line-height: 2.5em;
}

#block-menu-menu-footer-menu-4 {
margin-right: 0;
}

#block-block-1 {
  text-align: center;
}

#block-block-4 {
	clear: both;
    margin: 0 auto;
    max-width: 100%;
    padding: 10px 0;
    text-align: center;
}

div.footerbuttons {
	clear: both;
    display: block;
    margin: 0 auto;
    width: 570px;
}

div.social {
    float: left;
    margin-top: 50px;
}

div.dugto {
    float: left;
    margin: 0 30px 10px;
    width: 25%;
}

div.pantheon {
    display: inline-block;
    float: left;
    margin: 53px 0 0 20px;
}

/* SPONSORSHIP */

.page-node-33 table + div {
	display:none;
}

div.field-sponsor-logo {
	float:left;
	margin: 0 2em 8em 0;
}